<footer style="background-color: blueviolet;">
    <div class="container p-5">
        <center>
            <h6 style="color: white;">Copyright © <%= year %> , The HAMS. All rights reserved.</h6>
        </center>
    </div>
</footer>
</body>
</html>